.container {
  width: 65%;
  margin: auto;
  margin-top: 200px;
  text-align: center;
}
.wrapper {
  width: 50%;
  border-radius: 15px;
  background: rgb(165, 219, 110);
  margin: auto;
  padding: 10px 0;
}
ul {
  width: 95%;
  margin: auto;
}
form{
  width: 100%;
}
.flex {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #333; */
  align-items: center;
}
ul li {
  list-style: none;
  text-align: start;
  background: #fff;
  border-radius: 5px;
  margin:5px;
}
.add {
  width: 78%;
  padding: 8px;
  margin-left: 20px;
  border-radius: 5px;
  border: none;
}
.text {
  display: grid;
  grid-template-columns: 30px 440px;
  grid-template-rows: 1fr;
  padding-left:5px;
  font-size: 18px;
  font-weight:500;
}
.checkbox {
  width: 30px;
}
.edit-input {
  width: 400px;
}
.strike {
  text-decoration: line-through;
  text-decoration-color: firebrick;
  opacity: 0.8;
}
.clear {
  border:transparent;
  background: none;
  color: rgb(218, 49, 49);
  font-weight: 500;
}
.btn-wrapper{
  padding-right: 5px;
}