.container{
  width: 63%;
  margin: auto;
  text-align: center;
}
ul{
width: 45%;
 margin: auto;

}
.flex{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  align-items: center;

}
ul li{
  list-style: none;
  text-align: start;
}
input{
  width: 38%;
  padding: 5px;
}
.text{
  display: grid;
  grid-template-columns: 30px 440px;
  grid-template-rows: 1fr;
}
.checkbox{
  width: 30px;
}
.edit-input{
  width: 400px;
}
.strike{
  text-decoration: line-through;
  text-decoration-color:darkred;
}